/***********
 * general *
 ***********/
*, *::before, *::after
{
    /****************
     * color-config *
     ****************/
    --first-color: #ce99c7;
    --second-color: #9c75ab;
    --third-color: #60598f;
    --fourth-color: #2c3656;

    /********************
     * container-config *
     ********************/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /***************
     * font-config *
     ***************/
    --16px: 1rem;
    --24px: 1.5rem;
    --32px: 2rem;
    --300px: 18.75rem;
    font-family: "Press Start 2P", "VT323", monospace;
}

::selection
{
    color: var(--first-color);
    background-color: var(--second-color);
}

/**************
 * containers *
 **************/
body
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    border-style: solid;
    border-color: var(--fourth-color);
    border-left-width: 10vh;
    border-right-width: 10vh;
}

body::before
{
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background: white repeating-linear-gradient(to bottom, var(--fourth-color) 2px, var(--first-color) 4px, var(--fourth-color) 6px);
    opacity: 30%;
}

main
{
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
}

.chapter
{
    padding: 5px 20px 20px 20px;
    margin-bottom: 20px;
    border-style: dashed;
    border-color: var(--third-color);

}

.image-row
{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

/*********
 * texts *
 *********/
h1, h2, h3, h4, h5, h6
{
    color: var(--fourth-color);
    text-shadow: 0 0 0.5em var(--fourth-color);
}

h3, h4, h5, h6
{
    margin-top: 5px;
}

h1
{
    text-align: center;
    margin: 5px 0 5px 0;
}

h2
{
    margin-bottom: 5px;
}

ol, ul
{
    padding-left: 30px;
}

p, li
{
    color: var(--third-color);
}

code, kbd, samp, var, pre
{
    background-color: white;
}

samp
{
    color: var(--fourth-color);
}

pre
{
    color: var(--third-color);
    padding: 3px;
}

kbd
{
    color: var(--second-color);
}

p::before
{
    content: "yxnill@codejam:~$ ";
    font-weight: bold;
    color: var(--second-color);
    text-shadow: 0 0 0.5em var(--second-color);
}

/**********
 * images *
 **********/
img
{
    padding: 5px;
    margin: 3px;

    border-style: dashed;
    border-color: var(--second-color);

    max-height: 300px;
    object-fit: contain;
    opacity: 70%;
}