/***********
 * general *
 ***********/
*, *::before, *::after
{
    /****************
     * color-config *
     ****************/
    --first-color: #ffe7f4;
    --second-color: #f7e7ff;

    /********************
     * container-config *
     ********************/
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /***************
     * font-config *
     ***************/
    --16px: 1rem;
    --24px: 1.5rem;
    --32px: 2rem;
    --300px: 18.75rem;
    font-family: "Press Start 2P", "VT323", monospace;
}

body
{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    background-image: url("img/scanlines.png"), url("img/screen_borders.png");
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}

main
{
    overflow-y: auto;
    position: absolute;
    top: 1%;
    left: 10%;
    right: 10%;
    bottom: 0;
}

/*********
 * texts *
 *********/
{
    padding-left: 30px;
}

p, li
{
    color: white;
}

h1, h2, h3, h4, h5, h6
{
    color: var(--first-color);
}